<html>

<head>
<style>
    
    p{
 
        margin-left: 80px;
        margin-right:80px   
    }
    </style>

<!-- <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->

</head>

<body>
   <h1 align="center">Our Story</h1>

   <mat-grid-list cols="2" rowHeight="260px" style="margin-left:120px;margin-right:120px">
       <mat-grid-tile colspan="2">
   We believe in good.We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page.Fans Were given situations
       where they had to come up with wacky fun excuses.The person with the best excuse won the Best Excuse Badge and won
       Pizzeria's vouchers.The enthuastic response proved that Pizzeria's Fresh Pan Pizza is the tastiest Pan Pizza Ever!<br/><br>
      

   Ever since we launched the Tatiest Pan Pizza,ever people have not been able to resist the softest,cheesiest,crunchiest,butteriest
       Domino's Fresh Pan Pizza.They have ben leaving the stage in the middle of a performance and finding excuses to be disqualified in
       a football match.<br><br>
   

   We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page.Fans Were given situations
        where they had to come up with wacky fun excuses.The person with the best excuse won the Best Excuse Badge and won
        Pizzeria's vouchers.The enthuastic response proved that Pizzeria's Fresh Pan Pizza is the tastiest Pan Pizza Ever!
       </mat-grid-tile>
<mat-grid-tile><img src="assets\vegetables.jpg" style="margin-left:-250px;width:520px;"></mat-grid-tile>
<mat-grid-tile><h3 style="margin-top:-130px;">Ingredients</h3><br>
<p style="margin-top:60px;margin-left:-142px;">We are Ruthless about goodness.We hav no qualms about tearing up a day-old lettuce leaf,or
streaming a baby carrot cut.cut.chop.chop.Steam. Steam. Stir. Stir.While they are still young and fresh-that's our motto.It makes the kitchen a better place </p></mat-grid-tile>
    

<mat-grid-tile><h3 style="margin-top:-120px;">Our&nbsp;Chefs</h3><br>
    <p style="margin-top:60px;margin-left:-124px;">They make sauces sing and salad dance.They create magic with skill,Knowledge passion and stirring spoons.They make goodness
        so good.It doesn't know what to do with itself.We do though.We send it to you
     </p></mat-grid-tile>

     <mat-grid-tile><img src="assets\chef.jpg" style="margin-left:-200px;width:520px;"></mat-grid-tile>    


     <mat-grid-tile><img src="assets\clock.jpg" style="margin-left:-250px;width:520px;"></mat-grid-tile>
<mat-grid-tile><h3 style="margin-top:-30px; margin-left:-320px">45 Min Delivery</h3><br></mat-grid-tile>

   </mat-grid-list>

</body>

</html>